AddType text/cache-manifest .manifest
RedirectMatch 403 /\.htaccess
RedirectMatch 403 /\.gitignore
RedirectMatch 403 /\.git
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
